/* ========================= */
/* CONTENEDOR GENERAL */
/* ========================= */

.contenedorPueblos{
  display: grid;
  gap: 30px;
  padding: 20px;
}

/* ========================= */
/* SECCION */
/* ========================= */

.pueblo{
  display: grid;
  gap: 15px;
}

.tituloPueblo{
  font-size: 1.5rem;
}

/* ========================= */
/* SCROLL HORIZONTAL */
/* ========================= */

.scrollActividades{
  display: grid;

  grid-auto-flow: column;    
  grid-auto-columns: 45%;      

  gap: 15px;

  overflow-x: auto;
  overflow-y: hidden;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

/* Scroll bonito */
.scrollActividades::-webkit-scrollbar{
  height: 6px;
}

.scrollActividades::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 10px;
}

/* ========================= */
/* CARD */
/* ========================= */

.cardLeyenda{
  background: #cbb29c;
  padding: 10px;
  border-left: 10px solid #5a2d0c;
  border-radius: 5px;
  aspect-ratio: 1 / 1;

  scroll-snap-align: start;

  transition: transform 0.3s ease;
}

.cardLeyenda:hover{
  transform: scale(1.05);
}

/* ========================= */
/* LINK */
/* ========================= */

.cardLeyenda a{
  text-decoration: none;
  color: black;
  display: block;
}

/* ========================= */
/* IMAGEN */
/* ========================= */

.cardLeyenda img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* ========================= */
/* TEXTO */
/* ========================= */

.cardLeyenda p{
  font-size: 14px;
  text-align: center;
}

/* ========================= */
/* COMPUTADORA */
/* ========================= */

@media (min-width: 768px){

  .scrollActividades{
    grid-auto-columns: 18%; 
  }

}

